.menuList_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  max-width: 1320px !important;
  margin: auto !important;
  margin-bottom: 25px;
}

.menuList_header_items:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease all;
  color: #684457;
}
.menuList_header_container {
  margin-bottom: 25px;
}

.container {
  position: relative;
  width: 424px;
  height: 542px;
  overflow: hidden;
  border-radius: 150px 10px;
  border: 3px solid #ccc;
  border-style: double;
}
.brandGrid {
  max-width: 1320px !important;
  margin: auto !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.hero_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_section {
  max-width: 1320px !important;
  margin: auto !important;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing_category_grid {
  max-width: 1320px !important;
  margin: auto !important;
  padding-bottom: 25px;
}
.landing_category_grid_container {
  display: flex;
}
.landing_category_grid_text {
  transform: rotate(180deg);
}
.gird {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: auto auto;
}
.newsLetter {
  max-width: 1320px !important;
  margin: auto !important;
}
.product_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.zara_container {
  position: relative;
}
.zara_image_container {
  position: relative;
  background: #010204;

}
.zara_content {
 display: flex;
 flex-direction: column !important;
 align-items: flex-start;
 align-content: start;
 justify-content: space-between;
 position: absolute;
 top:30%;
 right: 20%;
}
.zara_logo2{
  width: 181px;
  height: 91px;
}
.zara_logo {
  position: absolute;
  width: 732px;
  height: 309px;
  top: 5%;
  right: 0%;
  z-index: 999;
  /* filter: invert(100) contrast(100) brightness(100); */

}

@media screen and (max-width: 900px) {
  .menuList_header_items {
    font-size: 10px;
    padding: 5px;
    background-color: rgb(255, 240, 235);
  }

  .mobile_header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
  }

  .hero_section {
    display: block;
    row-gap: 50px;
  }
  .hero_section_top {
    margin-bottom: 35px;
  }
  .container {
    position: relative;
    width: 424px;
    height: 442px;
    overflow: hidden;
    border-radius: 150px 10px;
    border: 3px solid #ccc;
    border-style: dashed;
  }
  .hero_img {
    position: absolute;
    bottom: 150%;
    top: 0;
    left: 0%;
    transform: translate(-10%, -10%);
  }
  .brandGrid {
    max-width: 1320px !important;
    margin: auto !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
}
